body{
    font-family: 'Times New Roman', Times, serif;
    background-color: pink;
}

.card{
    background-color: rgb(240, 113, 176);
    padding: 20px;
    border-radius: 10px;
}

.navigation {
    color: rgb(224, 99, 137);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

h1 {
    color: black;
    font-family: cursive;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: pink;
    font-size: xx-large;
}

h2{
    text-align: center;
    color: black;
     padding: 10px;
    background-color: rgb(212, 34, 102);
}

#logo{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    font-family: sans-serif;
}

span{
    font-family: sans-serif;
    color: rgb(236, 8, 122);
    font-style: italic;
}

a{
    color: aliceblue;
    background-color: rgb(240, 50, 129);
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 1250px;
    display: block;
    font-size: x-large;
padding: 10px;
}

h4 {
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: italic;
    padding: 20px;
    font-weight: lighter;
    line-height: 200%;
}

img{
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}


.copy{
    font-style: normal;
    text-align: center;
    color: black;
    font-weight: bold;
}

button:hover {
    background-color: rgb(238, 123, 177);
    color: azure;
}

a:hover{
     background-color: rgb(209, 114, 173);
    color: azure;
    border-radius: 50px;
}
input:hover {
      background-color: rgb(199, 98, 140);
    color: azure;
}

.portfolio-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}